* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 100vh;
  background-image: url('images/bg.jpg');
  background-size: cover;
}
h1 {
  font-size: 6rem;
  font-family: 'Roboto Black', sans-serif;
  margin-bottom: 2px;
  letter-spacing: 20px;
  text-transform: uppercase;
}
h2 {
  font-family: 'Roboto Black', sans-serif;
}
a {
  text-decoration: none;
}
.head-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.toggle-btn {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 2rem;
  display: none;
}
.lisa-pic {
  width: 140px;
  height: 140px;
  position: absolute;
  right: 10%;
  top: 30px;
  border: 10px solid #cc821a;
  transform: rotate(-45deg);
}
.lisa-pic img {
  width: 100%;
}
.head-p {
  font-size: 3rem;
  margin-top: 0px;
  text-transform: capitalize;
  background-color: white;
  padding: 10px;
  letter-spacing: 10px;
}

.nav-contents {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lw {
  margin: 10px;
}
.nav-contents a {
  padding: 10px 25px;
  border: 1px solid #cee5d0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #03256c;
}
.design-work {
  padding: 150px 10px;
}

.design-main-child {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.design-child {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 5px;
}
.dl {
  margin-top: 30px;
  position: relative;
  z-index: 0.5;
  color: teal;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.mv {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  position: relative;
  z-index: 5;
  background-color: teal;
  color: white;
}
.key {
  font-size: 4rem;
}
.btn-wrapper {
  margin: 50px 0;
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-btn {
  padding: 15px 20px;
  color: #03256c;
  border: 1px solid #cee5d0;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
}

.project-wrapper {
  display: flex;
  flex-direction: row;
}
.project-child {
  width: 50%;
}

.sm1 {
  text-align: center;
  padding: 70px 5px;
  color: #03256c;
}
.line {
  border-bottom: 10px solid teal;
  margin-top: 0;
  width: 350px;
  margin: 0 auto;
}
.sam-h2 {
  font-size: 6rem;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.sm2 {
  height: 500px;
  overflow-y: hidden;
}
.slider-pics {
  width: 100%;
  min-height: 500px;
}
.contact-section {
  margin-top: 150px;
}
.contact-section h2,
.cl-head {
  text-align: center;
  font-size: 3rem;
  width: 400px;
  margin: auto;
  color: #03256c;
  padding: 20px 5px;
}

.contact-child {
  background-image: url('images/bg2.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
}
.call-sec {
  position: absolute;
  top: 80px;
  left: 10%;
  color: white;
}
.contact-child p,
.contact-child a {
  font-size: 3rem;
  margin: 1px;
}
.emoji {
  display: inline-block;
  padding: 20px;
  background-color: white;
  color: #fb9300;
  border-radius: 100%;
  border: 4px solid #fb9300;
}

.email-sec {
  position: absolute;
  right: 30px;
  top: 250px;
}
.email-sec a {
  color: #fff;
  border-bottom: 2px solid #185adb;
}

.client-feb-child {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
}
.cl-head {
  margin-top: 50px;
  margin-bottom: 50px;
}
.cl-rab {
  width: 300px;
}
.cl-im {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
}
.cl-im img {
  width: 100%;
  min-height: 100%;
}

footer {
  background-color: #cee5d0;
}
.foot-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
address {
  font-style: normal;
}
.foot-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.foot-ul li {
  margin: 50px;
}
.foot-ul a {
  font-size: 3rem;
  color: #03256c;
  padding: 10px 17px;
  display: inline-block;
  border-radius: 100%;
  border: 2px solid #b8d1ba;
}

/*links hover states */
.lisa-pic:hover {
  animation-name: rotate-lisa-pic;
  animation-duration: 1s;
  transform: rotate(0deg);
}
.more-btn:hover,
.main-links:hover,
.foot-ul a:hover {
  background-color: #03256c;
  color: white;
}

.dl:hover {
  background-color: teal;
  color: white;
}
.mv:hover {
  background-color: white;
  color: teal;
}

/*Animations*/
@keyframes rotate-lisa-pic {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*media queries*/
@media screen and (max-width: 1073px) {
  h1 {
    font-size: 4rem;
  }
  .head-p {
    font-size: 2rem;
  }
  .contact-child p,
  .contact-child a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 950px) {
  .project-wrapper {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .project-child {
    width: 100%;
  }
}

@media screen and (max-width: 845px) {
  h1 {
    font-size: 3rem;
  }
  .head-p {
    font-size: 1.5rem;
  }
  .toggle-btn {
    display: inline-block;
  }
  nav {
    /* display: none; */
    background-color: #03256c;
    display: none;
    position: absolute;
    height: 100vh;
    overflow-y: scroll;
    top: 0;
    right: 0;
    z-index: 999;
  }
  .nav-contents {
    flex-direction: column;
  }
  .lw {
    margin-bottom: 60px;
  }
  .nav-contents a {
    color: #b8d1ba;
  }
  .display-nav {
    display: block;
  }
}

@media screen and (max-width: 705px) {
  h1 {
    font-size: 2rem;
  }
  .head-p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 636px) {
  .project-wrapper {
    width: 90%;
  }
  .design-child {
    margin-top: 10px;
  }
}
@media screen and (max-width: 587px) {
  .head-wrapper {
    text-align: center;
  }
  h1 {
    font-size: 2rem;
    letter-spacing: 10px;
    text-align: center;
    font-weight: bolder;
  }
  .lisa-pic {
    width: 100px;
    height: 100px;
    top: 20px;
  }
  .head-p {
    letter-spacing: 1.5px;
  }
  .sam-h2 {
    font-size: 1.5rem;
  }
  .contact-section h2 {
    font-size: 1.5rem;
  }
  .cl-head {
    font-size: 1.5rem;
  }
  .project-wrapper {
    width: 96%;
  }

  .foot-wrap {
    justify-content: flex-start;
    padding: 20px;
  }
  .foot-ul {
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 0;
  }
  .foot-ul a {
    font-size: 1.2rem;
  }
  .foot-ul li {
    margin-left: 0px;
  }
}
